/Construccion/Cliente/JavaFXApplication2/nbproject/private/
/Construccion/Cliente/JavaFXApplication2/build/
/Construccion/Cliente/JavaFXApplication2/dist/
/Construccion/Cliente/ClienteBN/nbproject/private/
/Construccion/Cliente/ClienteBN/dist/
/Construccion/Cliente/ClienteBN/build/