#turno{
	text-align: center;
	font-weight: bolder;
	font-size: 1.3em;
}
.tablero-container{
	padding: 2em;
	display: inline-block;
	vertical-align: middle;
}
.configurartablero{
	text-align: center;
}
.tablero{
	width: 400px;
	display: inline-block;
}
.tablero .casilla, .casilla-view{
	width: 40px;
	height: 40px;
	border: 1px solid white;
	cursor: pointer;
}
.casilla-view{
	cursor: not-allowed;
}
.tablero .casilla:hover{
	border: 1px solid black;
}
.panel{
	padding: 0;
}
.imagenes{
	display: inline-block;
	vertical-align: middle;
}
.imagenes div {
	display: block;
}
.imagenes label img{
	max-width: 70px;
	cursor: pointer;
}

/*para jugar.jade*/
.puntajes-container{
	display: inline-block;
	max-width: 500px;
}
.partida{
	text-align: center;
}