extends ../header.jade
block encabezado
	.container-fluid
		h1.text-center Juega
		.panel.panel-info.center-block
			.panel-heading
				h3.panel-title Instrucciones
			.panel-body Selecciona una posición en el tablero de tu oponente, si atinas a una posición tienes un turno extra.
		h3#turno(class="solitario") Esperando tiro del oponente
		.partida
			.tablero-container
				h3 Tu tablero
				div#tablero1.tablero
					- var i = 0
					while i < 100
						img(src="/img_barcos/mar azul.jpg", class="casilla-view", data-position="#{i}")
						- i++

			.puntajes-container
				h3 Vida
				table(class="table table-striped table-condensed")
					tr
						th Nave
						th Vida
					tr
						th Tus naves
					tr
						td Portaaviones
						td#puntajePortaaviones --
					tr
						td Acorazado
						td#puntajeAcorazado --
					tr
						td Fragata
						td#puntajeFragata --
					tr
						td Submarino
						td#puntajeSubmarino --
					tr
						td Buque
						td#puntajeBuque --
					tr
						th Oponente
					tr
						td Portaaviones
						td#puntajePortaaviones2 --
					tr
						td Acorazado
						td#puntajeAcorazado2 --
					tr
						td Fragata
						td#puntajeFragata2 --
					tr
						td Submarino
						td#puntajeSubmarino2 --
					tr
						td Buque
						td#puntajeBuque2 --

			.tablero-container
				h3 Tablero de tu oponente
				div#tablero2.tablero
					- var i = 0
					while i < 100
						img(src="/img_barcos/mar azul.jpg", class="casilla", data-position="#{i}")
						- i++

	input#partida(type="hidden", value="#{partida}")
			
	script(src="/socket.io/socket.io.js")
	script(src="/js/jugar-core.js")
	script(src="/js/jugar2.js")
