extends ../header.jade
block encabezado
	.container-fluid.contenedor-sala.margin-top
		h1.text-center Bienvenido a la sala de juego
		h2.text-center.medium-bottom-space #{user.nombre}
		ul(class="nav nav-tabs")
			li(role="presentation")
				a(href="/game") Bienvenido
			li(role="presentation", class="active")
				a(href="#") Puntajes
			li(role="presentation")
				a(href="/game/partidasguardadas") Partidas guardadas
			li(role="presentation")
				a(href="/logout", class="text-danger") Cerrar sesión
		div(class="panel table-responsive")
			table(class="table table-striped")
				th Nombre
				th Partidas ganadas
				if puntajes
					each u in puntajes
						tr
							if u._id != null
								td #{u._id.username}
								td #{u.count}
		div#invitaciones
	script(src="/socket.io/socket.io.js")
	script(src="/js/exportar-socket.js")