extends ./header.jade
block encabezado
	.container-fluid
		h1 Bienvenido
		h2 Batalla naval
		p
			a(href="/login", class="btn btn-primary") Inicia sesión
		p
			a(href="/singup", class="btn btn-default") Registrarte
