extends ./header.jade
block encabezado
	.container-fluid
		if cuentacreada
			div(class="alert alert-success")
				p Cuenta creada, inicia sesión
		h1 Inicia sesión
		form(action="/iniciarsesion", method="POST")
			.form-group
				label(for="username") Nombre de usuario:
				input(type="text", placeholder="Nombre de usuario", name="username", id="username", class="form-control", autofocus="true")
			.form-group
				label(for="password") Contraseña:
				input(type="password", placeholder="Contraseña", name="password", id="password", class="form-control")
			.form-group
				input(type="submit", value="Iniciar sesión", class="btn btn-primary")
		if error
			div(class="alert alert-danger")
				p #{error}
