extends ./header.jade
block encabezado
	#login-container(class="container-fluid big-top-space contenedor-formulario")
		if cuentacreada
			div(class="alert alert-success")
				p Cuenta creada, inicia sesi칩n
		h1 Inicia sesi칩n
		form(action="/iniciarsesion", method="POST")
			.form-group
				label(for="username") Nombre de usuario:
				input(type="text", placeholder="ej. 4ndr3sm3z4", name="username", id="username", class="form-control", autofocus="true")
			.form-group
				label(for="password") Contrase침a:
				input(type="password", placeholder="Me abstendre de usar 'password'", name="password", id="password", class="form-control")
			.form-group
				input(type="submit", value="Iniciar sesi칩n", class="btn btn-primary btn-lg btn-block")
		if error
			div(class="alert alert-danger")
				p #{error}
